html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

/*end reset*/




h4{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:24px;
	font-weight:bold;
	color:#CBF800;
}


.h5{
	font-family:fontawesome;
	font-size:24px;
	font-weight:bold;
	padding:10px;
	}
address{
	font-family:fontawesome;
	font-size:18px;
	line-height:1.9em;
	
		
	}
span>p{ 
	font-family:fontawesome;
	font-size:18px;
	line-height:3em;
	
	}	
.contact{
	padding:15px;
	
	}


}
.img-thumbnail>img{
	
    max-width: 100%;
    height: auto;
	transition: .5s;
    overflow: hidden;
	
	}

.img-container{
   
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    background: transparent;
    transition: .5s;
    
}

.img-container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    opacity: 1;
/*    transform: translate(-100%) scale(1) skew(-45deg);*/
    transition: .5s;
    
}
.img-content{
    position: absolute;
    top:0;
    
    padding: 4px;
    text-align: center;
    
}
.img-content h2{
    padding: 10px;
    color: #fff;
   margin-top: 80px;
    margin-left: 100px;
    font-size:20px;
    transform: translate(-50%,-50%) scale(0);
    transition: .5s;
    
}

.img-thumbnail:hover .img-content h2{
    
   transform:scale(1.2);
}

.img-thumbnail:hover img{
/*    transform: scale(2) translateX(-50px);*/
    filter:blur(3px) brightness(60%);
}

/*
.img-thumbnail:hover .img-content:before{
    
    opacity: 1;
    background:rgba(255,0,0,8); 
     transform: translate(0) scale(1) skew(-45deg);
    
}
*/


/*

.img-thumbnail:hover img{
	
	filter:blur(2px) brightness(60%);
	
	}
.img-thumbnail>h2{
	top:50%;
	}	
*/

/*.img-thumbnail>img:hover{
	transform:scale(1.2);
	}	*/	
/*
	
.img-thumbnail>img:not(img){
	position:absolute;
	opacity:0;
	top:30%;
	z-index:1;
	color:#fff;
	text-align:center;
	transition:.3%;
	width:100%;
	
	}	
.img-thumbnail>img:hover:not(img){
	opacity:1;	
	}
*/



.navbar-default{
	/*background-color:#00D3FF;*/
	background-color: #00BFFF;
	border-color: #fffff;
	font-weight:bold;
	color:#ffff; 
	padding: 8px 0;

}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {

	color:#fffff;
	font-size: 24px;

}

.navbar-default .navbar-nav>li>a{
	color: #ffffff;
	margin: 10px;
	padding: 10px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	

}
.navbar-default .navbar-nav>li>a:hover{
	color: black;
	margin: 10px;
	padding: 10px;
	background-color: #f6f6f6;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	

}
.navbar-default .navbar-nav .active a{
	color: black;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	

}
.navbar-default .dropdown-menu>li>a{
	color: black;
	font-weight: bold;
		background-color: f6f6f6;
		background-clip: padding-box;
  		border: 1px solid #ccc;
  		border: 1px solid rgba(0, 0, 0, .15);
  		border-radius: 1px;
 		  

}
.navbar-default .dropdown-menu>li>a:hover{
	
    color: #00BFFF;   

}

.container{
	margin: 4% auto;
}
.col-md-6{
	margin-top: 20px;
}
.col-md-6>ul{
	padding:5px;
	margin-left: 20%;
	text-align: center;
}
.col-md-6>ul>li{

	padding:5px;
	font-family: sans-serif;
	font-size: 16px;
	color: solid blue;
	text-align: left;


}

.banner{

	background-size:cover;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url(images/DJ Banner.jpg) ;

}


.button{
	margin: 20px;
	position: absolute;
	margin-left: 20px;
}

.jumbotron {
	margin-top: 20px;
	background-image: url(../images/DJ.jpg);
	background-size: cover;
	color:#ffffff;
	font-size:18px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
p1{
	color:#E8FF00;
	}

.footer{
	margin:0;
	
	padding: 3%;
	width: 100%;
	background-color: #00BFFF;
	color: #000000;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:16px;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  height: 50px;
  border-radius: 50%;
}



.fa-facebook {
  background: #001FDB;
  color: white;
}

.fa-twitter {
  background: #0089F1;
  color: white;
}

.fa-google-plus {
  background: #FC1B00;
  color: white;
}

.fa-facebook:hover {
    color:#001FDB;
	background-color:#FFFFFF;
	text-decoration: none;
}
.fa-twitter:hover {
    color: #0089F1;
	background-color:#FFFFFF;
	text-decoration: none;
}
.fa-google-plus:hover {
    color:#FC1B00;
	background-color:#FFFFFF;
	text-decoration: none;
}



